<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="RemoveAll" />
  <appSettings xdt:Transform="RemoveAttributes(file)">
    <add key="RouteDebugger:Enabled" xdt:Locator="Match(key)" xdt:Transform="Remove" />
    <add key="MigrateDatabaseToLatestVersion" xdt:Locator="Match(key)" xdt:Transform="Remove" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" requireSSL="true" xdt:Transform="Replace"/>
    </authentication>
    <httpHandlers>
      <add xdt:Transform="Remove" xdt:Locator="Match(type)" path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler, dotless.Core" />
    </httpHandlers>
    <customErrors mode="On" defaultRedirect="~/Error/Default.aspx" redirectMode="ResponseRewrite" xdt:Transform="Replace">
      <error statusCode="404" redirect="~/Error/404.aspx" />
      <error statusCode="500" redirect="~/Error/500.aspx" />
    </customErrors>
    <httpCookies httpOnlyCookies="true" requireSSL="true" lockItem="true" xdt:Transform="Replace" />
  </system.web>
  <system.webServer>
    <handlers>
      <add xdt:Transform="Remove" xdt:Locator="Match(name)" name="dotless" path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler,dotless.Core" resourceType="File" preCondition="" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="Strict-Transport-Security" value="max-age=16070400; includeSubDomains" xdt:Transform="Insert" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
