
@{
    ViewBag.Title = "Repair Closed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align: center">
    <h3>This Repair is Closed, a Repair MUST be Open to Create a Request.</h3>
    <br/>
    <a class="btn btn-primary" href="@Url.Action("Dashboard", "Repairs")"><i class="glyphicon glyphicon-home"></i>&nbsp;Dashboard</a>
</div>
