
@{
    ViewBag.Title = "Registration Not Found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top: 30px;">
    <div class="col-sm-offset-2 col-sm-8">
        <div class="step-form" style="font-size: 24px; text-align: center;">
            <div style="margin-bottom: 10px;">Your Registration was Not Found!</div>
            <div>If you need assistance, please call (904) 717-1711.</div>
        </div>
    </div>
</div>