
@{
    ViewBag.Title = "Thank You";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center text-muted">Thank You!</h2>

<div class="row">
    <div class="col-sm-offset-3 col-sm-6">
        <div class="step-form">
            <h3>Your Registration has been submitted to AirPro!</h3>
            <h3>You will be contacted within 1 business day to complete the contracts needed for your account.</h3>
            <h3>If you need assistance before you are contacted, please call (904) 717-1711.</h3>
        </div>
    </div>
</div>